<div class="container">
    <h1>Liste des Faits</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Start</th>
                <th>Relation</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {{#each faits}}
            <tr>
                <td>{{id}}</td>
                <td>{{start}}</td>
                <td>{{relation}}</td>
                <td>{{end}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination">
    {{#if (gt currentPage 1)}}
    <a href="#/dump-faits?page={{decrement currentPage}}" class="btn">Précédent</a>
    {{/if}}
    {{#if (lt currentPage totalPages)}}
    <a href="#/dump-faits?page={{increment currentPage}}" class="btn">Suivant</a>
    {{/if}}
</div>
</div>
